.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Game related styles */

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
  padding: 1.5rem;
  gap: 1.5rem;
}

.title-card-container {
  flex: 0 0 auto;
}

.game-start-section {
  position: fixed;
  bottom: 0;
  flex: 0 0 auto;
  padding: 10px;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.game-banner {
  width: fit-content;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.game-section {
  position: sticky;
  bottom: 0;
  flex: 0 0 auto;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.game-check-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.guess-history-container {
  flex: 1 1 auto;
  overflow-y: auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 28rem;
  background-color: rgb(168 85 247 / 6%);
  padding: 0 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Mobile view adjustments */
@media (max-width: 425px) {
  .game-container {
    padding: 1rem;
    gap: 0rem;
    height: 96vh;
  }

  .game-start-section, .game-check-section {
    gap: 0.5rem;
  }

  .game-banner {
    padding: 0px 10px;
    font-size: 12px;
  }
}